<!DOCTYPE html>
<head>
    <script src="//cdn.rawgit.com/dmauro/Keypress/master/keypress.js"></script>
</head>
<body>
    <h1>Test</h1> 
    <div class="row">
        <div class="key_filler"></div>
        <div id="key_up" class="key"><div class="triangle up"></div></div>
        <div class="key_filler"></div>
    </div>
    <div class="row">
        <div id="key_left" class="key"><div class="triangle left"></div></div>
        <div id="key_down" z="" class="key"><div class="triangle down"></div></div>
        <div id="key_right" class="key"><div class="triangle right"></div></div>
    </div>
    <script src="/templates/js/main.js"></script>
</body>